- Use pydantic 2
- Pytest
- Use black formatting
- Avoid methods with sideeffects and if they are needed then add a "\_" suffix
- Prefer pathlib over os
- Prefer getter method names like `tasks` over `get_tasks`
- Commands need to be run using `poetry run <command>`
- Use simple tests with a bit of logging that we can run with `poetry run pytest -s` to check that the code works as expected
